body {
  margin: 5px 10px;
}
h1 {
  font-size: 30px;
}
h2 {

}

p {
  font-size: 20px;
}

img {
    max-width: 100%;
}

figure {
    margin: 20px 0;
}

@media screen and (min-width: 700px) {
  body {
    background-color: rgb(228, 225, 225);
    margin: 10px 20px;
  }

  p {
    font-size: 1rem;
  }

  figure {
    box-sizing: border-box;
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 35%;
    float: left;
  }

}

@media screen and (min-width: 1000px) {
  body {
    background-color: rgb(255, 185, 185);
    margin: 10px 50px;
  }

  p {
    font-size: 15px;
    max-width: 80%;
  }
}